
<ul class="frame">
  <% for pet in @pets %>
  <li>
    <p><%= pet.name %></p>
    <img src="/images/<%= pet.image %>" />

    <% if pet.owner %>
    <p>Owned by <%= pet.owner.name %></p>
    <% else %>
    <form class="pet" action="/pets/adopt/<%=pet.id%>" method="post">
      <label>
        <select name="owner_id"> 
        <% for owner in @owners %>
          <option value="<%= owner.id %>"><%= owner.name %></option>
          <% end %>
        </select>
      </label>
      <input class="fsSubmitButton" type="submit" value="Adopt Me!" />
    </form>
    <% end %>
  </li>
  <% end %>
</ul>

<!-- if owned show unadopt button -->

