<p>action: <%= @pets.action %></p>


<form action="/pets/<%= @pet.id %>" method="post">
<p>

    <select name="action">
      <option
      <%= "selected" if @pets.action == "Adopt" %>
      value="Adopt">Adopt</option>
      <option 
      <%= "selected" if @pets.action == "Pet" %>
      value="Pet">Pet</option>
      <option 
      <%= "selected" if @pets.action == "Feed" %>
      value="Feed">Feed</option>
      <option 
      <%= "selected" if @pets.action == "cuddle" %>
      value="cuddle">cuddle</option>
    </select>
  </label>
</p>

